<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6c2da35-73a3-49c7-8c4c-07e09f6ac940" Alias="question" Level="3">
  <Info>
    <Name>Question</Name>
    <Icon>icon-activity color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Survey/Question</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3c2d97d5-9e49-4417-84b5-674318327e0c</Key>
      <Name>A Response is Required</Name>
      <Alias>aResponseIsRequired</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="questionFlags">Question Flags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7780543d-ff30-446a-9b82-a1017036d91a</Key>
      <Caption>Question Flags</Caption>
      <Alias>questionFlags</Alias>
      <Type>Group</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>