<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65698dbc-dc31-4bf9-bbf1-7c51d8d89aa2" Alias="satisfactionQuestion" Level="3">
  <Info>
    <Name>Satisfaction Question</Name>
    <Icon>icon-bar-chart color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Survey/Question</Folder>
    <Compositions>
      <Composition Key="d6c2da35-73a3-49c7-8c4c-07e09f6ac940">question</Composition>
      <Composition Key="069e224b-af64-4647-9cbc-4b202eecd8cd">surveyElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>51e185e6-4603-4850-9186-52d55aff93eb</Key>
      <Name>Labels</Name>
      <Alias>labels</Alias>
      <Definition>adf0e373-82b2-4b9b-a0ef-21cde1191f11</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="satisfaction/labels">Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad3ed7ae-89be-4def-87cb-97939b9f4209</Key>
      <Name>Maximum Value</Name>
      <Alias>maximumValue</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="satisfaction/satisfaction">Satisfaction</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73930f7e-eb14-4770-ad19-f0fe28497541</Key>
      <Name>Minimum Value</Name>
      <Alias>minimumValue</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="satisfaction/satisfaction">Satisfaction</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27eae73f-fc54-4ac1-8b23-7e5a100f25e2</Key>
      <Caption>Satisfaction</Caption>
      <Alias>satisfaction/satisfaction</Alias>
      <Type>Group</Type>
      <SortOrder>-98</SortOrder>
    </Tab>
    <Tab>
      <Key>35e1ab64-a7fa-42da-a376-61ad0725a700</Key>
      <Caption>Satisfaction</Caption>
      <Alias>satisfaction</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>94aeddd8-e09f-4884-9033-8874186a503a</Key>
      <Caption>Labels</Caption>
      <Alias>satisfaction/labels</Alias>
      <Type>Group</Type>
      <SortOrder>-97</SortOrder>
    </Tab>
  </Tabs>
</ContentType>