<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b782195-c9f2-4e21-8050-dce2f6308c63" Alias="surveyPage" Level="3">
  <Info>
    <Name>Survey Page</Name>
    <Icon>icon-page-add color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Survey/Question</Folder>
    <Compositions>
      <Composition Key="069e224b-af64-4647-9cbc-4b202eecd8cd">surveyElement</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>