<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea54789c-72de-424c-880a-c11a41cb3c8a" Alias="surveySite" Level="2">
  <Info>
    <Name>Survey Site</Name>
    <Icon>icon-globe-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Websites</Folder>
    <Compositions />
    <DefaultTemplate>SurveySite</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b9cb36ba-e666-47bc-ab1e-af614223a144">SurveySite</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>