<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ea54789c-72de-424c-880a-c11a41cb3c8a" Alias="surveySite" Level="2">
  <Info>
    <Name>Survey Site</Name>
    <Icon>icon-globe-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Websites</Folder>
    <Compositions />
    <DefaultTemplate>SurveySite</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b9cb36ba-e666-47bc-ab1e-af614223a144">SurveySite</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>51cd1a9e-a6a4-4af5-b51b-ecad0dc7a5e0</Key>
      <Name>Surveys</Name>
      <Alias>surveys</Alias>
      <Definition>46622249-d1e9-4720-9d97-377006948328</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="availableSurveys">Available Surveys</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e2cc7830-6327-4631-a0fe-0c2563a80160</Key>
      <Caption>Available Surveys</Caption>
      <Alias>availableSurveys</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>