<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe213e86-b784-4628-a6cd-a0886fdf8854" Alias="survey" Level="2">
  <Info>
    <Name>Survey</Name>
    <Icon>icon-chat-active color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Survey</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5b782195-c9f2-4e21-8050-dce2f6308c63" SortOrder="0">surveyPage</ContentType>
    <ContentType Key="65698dbc-dc31-4bf9-bbf1-7c51d8d89aa2" SortOrder="1">satisfactionQuestion</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6e871434-5690-4284-8017-175c9916cb04</Key>
      <Name>Allow Anonymous Completion</Name>
      <Alias>allowAnonymousCompletion</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details/options">Options</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d314b6bf-df4c-4295-83c2-f40d8ccbcb2b</Key>
      <Name>Question List</Name>
      <Alias>questionList</Alias>
      <Definition>9a7d9a8a-a3bd-42f3-be71-b78d95d75e4c</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="questions">Questions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95a1132a-40f1-4975-b3b5-adaed4e9ea91</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="details/details">Details</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0393822f-7b83-4b72-ad80-ab44054b6e62</Key>
      <Caption>Options</Caption>
      <Alias>details/options</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>2980b371-61eb-4b05-98c6-66c3af6fa4d1</Key>
      <Caption>Details</Caption>
      <Alias>details/details</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>7bd556f3-3b2f-4c2b-8f8f-a733342db963</Key>
      <Caption>Details</Caption>
      <Alias>details</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>84e2bd4f-7800-4b99-9182-8fcd03cc4fa0</Key>
      <Caption>Questions</Caption>
      <Alias>questions</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>