<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a212284c-7e7b-4d39-8e54-df379413cbe3" Alias="surveyFolder" Level="2">
  <Info>
    <Name>Survey Folder</Name>
    <Icon>icon-folder-outline color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Survey</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a212284c-7e7b-4d39-8e54-df379413cbe3" SortOrder="0">surveyFolder</ContentType>
    <ContentType Key="fe213e86-b784-4628-a6cd-a0886fdf8854" SortOrder="1">survey</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>