<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a7d9a8a-a3bd-42f3-be71-b78d95d75e4c" Alias="Survey Question List" Level="1">
  <Info>
    <Name>Survey Question List</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "surveyPage,satisfactionQuestion",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$current",
    "type": "content"
  }
}]]></Config>
</DataType>