<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e6d51c69-a3aa-408a-b48f-4bbcdcf8434c" Alias="Survey Element - Short Title - Textbox" Level="1">
  <Info>
    <Name>Survey Element - Short Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>