<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46622249-d1e9-4720-9d97-377006948328" Alias="Survey List" Level="1">
  <Info>
    <Name>Survey List</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "survey",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>