<div class="menu-items">
    <a class="menu-item" href="/admin/studies">
        <div class="icon"><i class="fas fa-pen"></i></div>
        <label>Studies</label>
    </a>

    <a class="menu-item" href="/admin/surveys">
        <div class="icon"><i class="fas fa-comments"></i></div>
        <label>Surveys</label>
    </a>

    <a class="menu-item" href="/admin/waves">
        <div class="icon"><i class="fas fa-calendar"></i></div>
        <label>Waves</label>
    </a>

    <div class="menu-divider"></div>

    <a class="menu-item" href="/admin/customers">
        <div class="icon"><i class="fas fa-users"></i></div>
        <label>Customers</label>
    </a>

    <a class="menu-item" href="/admin/users">
        <div class="icon"><i class="fas fa-user"></i></div>
        <label>Users</label>
    </a>
</div>