@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@300;400;700;800;900&display=swap");
body {
  font-family: Poppins;
}

.menu {
  z-index: 250;
  position: fixed;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #9cd3ff;
  background: linear-gradient(#9cd3ff, #50b1ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  box-shadow: 0 0 16px #999;
}
.menu .logo {
  padding: 16px;
}
.menu .logo img {
  width: 100%;
}
.menu .menu-items {
  width: 100%;
  margin-top: 16px;
}
.menu .menu-items .menu-item {
  text-decoration: none;
  margin-left: -16px;
  margin-right: -16px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  color: #000;
  align-items: center;
}
.menu .menu-items .menu-item .icon {
  width: 15%;
  font-size: 1.5rem;
  margin-right: 16px;
}
.menu .menu-items .menu-item label {
  text-decoration: none;
  cursor: pointer;
  flex-grow: 1;
}
.menu .menu-items .menu-item:hover {
  background-color: #0073cf;
  color: white;
}
.menu .menu-items .menu-item.active {
  background-color: #0073cf;
  color: white;
}
.menu .menu-items.main {
  flex-grow: 1;
}

.sub-menu {
  z-index: 350;
  position: fixed;
  left: 250px;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #0073cf;
  color: white;
}
.sub-menu .loading {
  margin: 16px;
  padding: 16px;
  text-align: center;
}
.sub-menu .menu-items {
  width: 100%;
  flex-grow: 1;
}
.sub-menu .menu-items .menu-item {
  text-decoration: none;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  color: #fff;
  align-items: center;
}
.sub-menu .menu-items .menu-item .icon {
  width: 15%;
  font-size: 1.5rem;
  margin-right: 16px;
}
.sub-menu .menu-items .menu-item label {
  text-decoration: none;
  cursor: pointer;
  flex-grow: 1;
}
.sub-menu .menu-items .menu-item:hover {
  background-color: #003a69;
  color: white;
}
.sub-menu .menu-items .menu-item.active {
  background-color: #003a69;
  color: white;
}

.hide {
  display: none;
}

.content {
  margin-left: 266px;
  padding-top: 16px;
  margin-right: 16px;
}
.content .page-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.content .page-title h1 {
  margin: 0;
}
.content .page-title .toolbar {
  display: flex;
}
.content .page-title .toolbar button.btn-primary {
  background-color: #0073cf;
  color: white;
}
.content .page-title .toolbar button.btn-icon-circle {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.content .page-title .toolbar button.btn-primary:hover {
  background-color: #36a6ff;
  border-color: #038fff;
}

.card {
  border-color: #ffa536;
  box-shadow: 0 0 5px #ccc;
}
.card .card-header {
  background-color: #ffa536;
}

.buttonBar {
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  padding: 16px;
  text-align: right;
  background-color: #e9f5ff;
  z-index: 150;
}
.buttonBar button {
  font-size: 1.5rem;
  background-color: #0073cf;
  color: white;
}

.offcanvas-body .toolbar {
  margin-top: -16px;
  margin-bottom: 16px;
}
.offcanvas-body .toolbar .btn {
  background-color: transparent;
  border: 1px solid #ccc;
}
.offcanvas-body .toolbar .btn:hover {
  background-color: #e9f5ff;
}
.offcanvas-body .toolbar .btn-group .btn {
  border-radius: 8px;
  margin-right: 8px;
}
.btn-group .offcanvas-body .toolbar .btn-group .btn:first-of-type:before {
  border-left: 1px solid #ccc;
}

table.table th {
  background-color: #ffa536;
}

tr.noedit {
  font-style: italic;
}
tr.noedit td {
  background-color: #f2f2f2;
  color: #a6a6a6;
}
